.error-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background: rgba(0,0,0,.7);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &-card {
    background: #ccc;
    width: 50vw;
    height: 30vh;
    border-radius: .5rem;
    box-shadow: rgba(99, 99, 99, .2) 0px 2px 8px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;

    i {
      font-size: 6rem;
      color: red;
    }

    p {
      font-size: 2rem;
      font-weight: bold;
    }

    button {
      padding: 1rem 2.5rem;
      color: #fff;
      background: red;
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: .2rem;
      border-radius: .5rem;
      cursor: pointer;

      &:hover {
        background: orangered;
        transform: scale(1.04);
        transition: all .4s ease;
      }
    }
  }
}