.form-card {
  width: 40rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1.5rem 1rem;
  background: rgba(220, 200, 190, 0.6);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &_input input,
  &_input textarea {
    width: 100%;
    background: transparent;
    padding: 1rem 1.2rem;
    border-bottom: .2rem dotted orangered;
    border-left: .2rem dotted orangered;

    &::placeholder {
      color: #000;
    }

    &:focus,
    &:active {
      border-style: solid;
      transition: border-style 1s ease;

      &::placeholder {
        font-size: 1rem;
        opacity: .7;
        transition: ease .4s;
      }
    }

  }

  &_input {
    input {
      height: 4rem;
    }

    textarea {
      height: 20rem;
    }
  }

  button {
    background: rgba(255, 68, 0, 0.664);
    align-self: center;
    padding: 1rem 1.5rem;
    color: #ccc;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;
    border: .1rem solid orangered;

    &:hover {
      background: transparent;
      color: rgb(31, 31, 31);
      border: .1rem solid orangered;
      transition: all ease .4s;
      cursor: pointer;
    }
  }
}

@media(max-width: 850px) {
  .form-card {
    width: 80vw;
  }
}