* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	width: 100vw;
	min-height: 100vh;
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(./image/background.jpg) no-repeat center/cover;
	position: relative;
	overflow-x: hidden;
	padding: 3rem 1rem;
}

input,
textarea,
button {
  font-family: inherit;
  outline: none;
  border: 0;
  background: transparent;
  color: #000;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	width: 100vw;
	min-height: 100vh;
	background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(./image/background.jpg) no-repeat center/cover;
	position: relative;
	overflow-x: hidden;
	padding: 3rem 1rem;
}

input,
textarea,
button {
  font-family: inherit;
  outline: none;
  border: 0;
  background: transparent;
  color: #000;
}
