* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	min-height: 100vh;
	width: 100vw;
	position: relative;
}

.flex {
	display: flex;
	flex-direction: column;
}

.container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(./image/background.jpg) no-repeat center center/cover;
	padding: 5rem 2rem;
	align-items: center;

  h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #fff;
    letter-spacing: .2rem;
  }

	&-content {
		min-height: 100%;
		width: 80%;
		margin: 0 auto;
		gap: 2rem;

		.content-card {
			width: 100%;
			background: rgba(220, 200, 190, 0.6);
			padding: 2rem 5rem;
			clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
			align-items: center;
			gap: 1.5rem;

			img {
				width: 10rem;
				height: 10rem;
				border-radius: 10rem;
				object-fit: cover;
			}

      .name {
        font-size: 1.4rem;
      }

      .para {
        font-size: 1.6rem;
        font-style: italic;
      }

		}
	}
}
